@{
    ViewData["Title"] = "Home";
}


<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/cart_style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        /* Style the body */
        body {
            font-family: Arial;
            margin: 0;
        }

        /* Header/logo Title */
        .header {
            padding: 60px;
            text-align: center;
            background: #1abc9c;
            color: white;
        }


        /* Column container */
        .row {
            display: flex;
            flex-wrap: wrap;
        }

        /* Create two unequal columns that sits next to each other */
        /* Sidebar/left column */
        .side {
            flex: 30%;
            background-color: #f1f1f1;
            padding: 20px;
        }

        /* Main column */
        .main {
            flex: 70%;
            background-color: white;
            padding: 20px;
        }

        /* Fake image, just for this example */
        .fakeimg {
            background-color: #aaa;
            width: 100%;
            padding: 20px;
        }

        /* Footer */
        .footer {
            padding: 20px;
            text-align: center;
            background: #ddd;
        }

        /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
        @@media screen and (max-width: 700px) {
            .row, .navbar {
                flex-direction: column;
            }
        }

        .carousel {
            width: 100%;
            height:auto;
        }
    </style>
</head>
<body>

    <br />
    <br />
    <br />

    <br />

    <div class="home_body">

        <!-- Header -->
        <div class="header">
            <h1>Promos</h1>

        </div>


        <!-- The flexible grid (content) -->
        <div class="row">
            <div class="side">
                <h2>About US</h2>
                <h5>Photo of company:</h5>
                <div class="fakeimg" style="height:200px;">Image</div>
                <p>Some text about the identity of the company.</p>
                <h3>Background</h3>
                <p>Background Details here.</p>
                <div class="fakeimg" style="height:60px;">Image here</div><br>
                <div class="fakeimg" style="height:60px;">Image here</div><br>
                <div class="fakeimg" style="height:60px;">Image here</div>
            </div>
            <div class="main">
                <h2>MOST SHOPPED PRODUCT</h2>
                    
                <!-- add to cart button -->
                @*<h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg" style="height:200px;">Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>*@

            <div class="carousel" data-flickity='{ "wrapAround": true, "autoPlay": true, "pageDots": false}'>


                <div class="col">
                    <div class="card h-100">
                        <img src="/sources/images/217588976_344765297366933_5863639655305036920_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                            <p class="card-text">Product Description</p>
                        </div>
                        <div class="card-footer">
                            <a href="#0" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99">Add To Cart</a>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="/sources/images/217588976_344765297366933_5863639655305036920_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                            <p class="card-text">Product Description</p>
                        </div>
                        <div class="card-footer">
                            <a href="#0" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99">Add To Cart</a>

                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                        <img src="/sources/images/217588976_344765297366933_5863639655305036920_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Product Name</h5>
                            <p class="card-text">Product Description</p>
                        </div>
                        <div class="card-footer">
                            <a href="#0" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99">Add To Cart</a>

                        </div>
                    </div>
                </div>

            </div>
                @*<div class="col">
          <div class="card h-100">






          </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/css/img/product-preview.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <a href="#0" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/css/img/product-preview.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <a href="#0" class="cd-add-to-cart js-cd-add-to-cart" data-price="25.99">Add To Cart</a>

                </div>
            </div>
        </div>*@

            </div>
        </div>



    </div>
    <!-- Header -->
    <br />
    <br />
    <br />

    <div class="cd-cart cd-cart--empty js-cd-cart">


        <!-- Cart's count -->
        <a href="#0" class="cd-cart__trigger text-replace">
            Cart
            <ul class="cd-cart__count">
                <!-- cart items count -->
                <li>0</li>
                <li>0</li>
            </ul> <!-- .cd-cart__count -->
        </a>

        <!--Cart's content-->

        <div class="cd-cart__content">
            <div class="cd-cart__layout">
                <header class="cd-cart__header">

                    <!-- UNDO BUTTON -->
                    <h2>Cart</h2>
                    <span class="cd-cart__undo">Item removed. <a href="#0">Undo</a></span>
                </header>


                <!-- PRODUCT INSERT HERE -->
                <div class="cd-cart__body">
                    <ul>
                        <!-- products added to the cart will be inserted here using JavaScript -->
                    </ul>
                </div>

                <footer class="cd-cart__footer">
                    <!-- CHECK OUT BUTTON -->
                    <a href="#0" class="cd-cart__checkout">
                        <em>
                            Checkout - $<span>0</span>
                            <svg class="icon icon--sm" viewBox="0 0 24 24">
                                <g fill="none" stroke="currentColor"><line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12" x2="21" y2="12" /><polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="15,6 21,12 15,18 " /></g>
                            </svg>
                        </em>
                    </a>
                </footer>
            </div>
        </div> <!-- .cd-cart__content -->
    </div> <!-- cd-cart -->
    <script src="/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
    <script src="/js/cart_main.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="index.js"></script>
</body>
</html>
    